@{
    ViewData["Title"] = "Forsíða";
}

<div class="row" style="margin-top:50px;margin-bottom: 50px;">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <img src="~/images/logo.png" alt="logo" />
        <h1>Blaklið Íslands</h1>
    </div>
</div>